<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="Triad template">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}" /></noscript>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{'images/favicon.png'| url}}" >

</head>
<body class="is-preload">
  <div id="page-wrapper">
      <!-- Menu -->
      <nav id="menu">
        {%- siteIdentity %}
        {%- for identity in contentful-identity %}
          {{ identity }}
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            {%- for page in contentful-page %}
              <li><a href="{{ page.slug | url }}">{{page.title}}</a></li>
            {%- endfor %}
          </ul>
          <a href="#" class="close">Close</a>
        </div>
      </nav>
      {{content}}
    </div>
  </body>
</html>