<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="11ty Contentful Starter utilizing the HTML5UP Solid State Theme">
  <meta name="author" content="Contentful">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}" /></noscript>

  <!-- GTag
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {% if google-id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{google-id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', {{google-id}});
    </script>
  {%endif%}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{'images/favicon.png'| url}}" >

</head>
<body class="is-preload">
  <div id="page-wrapper">
    <header id="header">
        <h1><a href="{{'/' | url}}">11ty Contentful Starter</a></h1>
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>
      <!-- Menu -->
      <nav id="menu">
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            {% for page in contentful-page %}
              <li><a href="{{ page.slug | url }}">{{page.title}}</a></li>
            {% endfor %}
          </ul>
          <a href="#" class="close">Close</a>
        </div>
      </nav>
      {{content}}
    </div>

  <!-- Scripts -->
    <script src={{"/assets/js/jquery.min.js" | url}}></script>
    <script src={{"/assets/js/jquery.scrollex.min.js" | url}}></script>
    <script src={{"/assets/js/browser.min.js" | url}}></script>
    <script src={{"/assets/js/breakpoints.min.js" | url}}></script>
    <script src={{"/assets/js/util.js" | url}}></script>
    <script src={{"/assets/js/main.js" | url}}></script>
  </body>
</html>
